<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UGM_Client</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>client.application.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DisplayUsers</display-name>
    <servlet-name>DisplayUsers</servlet-name>
    <servlet-class>client.application.servlets.DisplayUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUsers</servlet-name>
    <url-pattern>/DisplayUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGroups</display-name>
    <servlet-name>DisplayGroups</servlet-name>
    <servlet-class>client.application.servlets.DisplayGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGroups</servlet-name>
    <url-pattern>/DisplayGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>client.application.servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>client.application.servlets.DeleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/DeleteGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>client.application.servlets.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchGroup</servlet-name>
    <servlet-class>client.application.servlets.SearchGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGroup</servlet-name>
    <url-pattern>/SearchGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadPrivileges</servlet-name>
    <servlet-class>client.application.servlets.LoadPrivileges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPrivileges</servlet-name>
    <url-pattern>/LoadPrivileges</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadGroups</servlet-name>
    <servlet-class>client.application.servlets.LoadGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadGroups</servlet-name>
    <url-pattern>/LoadGroups</url-pattern>
  </servlet-mapping>  
</web-app>